@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

:root {
    --default-font-family: 'Baloo 2', cursive;
    --text-slate-500: rgb(100 116 139);
    --text-slate-300: rgb(203 213 225);
    --text-sky-500: rgb(14 165 233);
    --border-sky-500: rgb(14 165 233);
}

html {
    font-family: var(--default-font-family);
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
